*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}

#title {
  background-color: #000 ;
  color: white;
}

.code-div {
  text-align: center;
}

.title-container {
  padding: 3% 15%;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 3.5em;
  line-height: 1.5;
}

.navbar {
  padding-bottom: 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-weight: lighter;
  font-size: 1.2rem;
}

.download-button {
  margin: 5% 0;
}

.code-icon {
  font-size: 20rem;
}

#profiles {
  padding: 8% 2% 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
}

.fa-brands {
  font-size: 50px;
  position: absolute;
  margin: auto -70px;
}

.profile-box {

  text-align: center;
  padding: 5%;
  border-radius: 50px;
  border-style: solid;
  border-width: 10px;
  border-color: #000;
  background-color: #fff;
  margin: 2rem;
  width: 25%;
  height: 70vh;
}

.fa-user {
  color: #000;
}

h2 {
  color: #000;
  font-weight: 600;
  margin: 1.5rem 0 1.5rem 0;
}

.profile-button {
  color: #000;
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
  display: block;
  margin: 2rem auto ;
}

.profile-button:hover {
  background-color: #000;
  color: #fff;
}


.fa-instagram {
  color: #000;
  display: inline-block;
}

.fa-instagram:hover {
  font-size: 4rem;
}

.fa-twitter {
  color: #000;
  margin-left: 40px;
  display: inline-block;
}

.fa-twitter:hover {
  font-size: 4rem;
}
