body {
  font-family: 'Montserrat', sans-serif;
}

#title {
  background-color: #ff4c68 ;
  color: white;
}

.title-container {
  padding: 3% 15%;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 3.5em;
  line-height: 1.5;
}

.navbar {
  padding-bottom: 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-weight: lighter;
  font-size: 1.2rem;
}

.download-button {
  margin: 5% 0;
}

.title-image {
  width: 60%;
  margin-left: 150px;
  border-radius: 20%;
}

#profiles {
  padding: 9% 9% 3%;
  display: flex;
}



.profile-box {
  text-align: center;
  padding: 5%;
  border-radius: 20%;
  border-style: solid;
  border-width: 10px;
  border-color: #ff4c68;
  margin: 2rem;
  width: 27%;
}

.fa-user {
  color: #ef8172;
}

h2 {
  color: #ef8172;
  font-weight: 600;
  margin: 1.5rem 0 1.5rem 0;
}

.profile-button {
  color: #ef8172;
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
}

.profile-button:hover {
  background-color: #ff4c68;
}


.fa-instagram {
  color: #ef8172;
  display: inline-block;
}

.fa-instagram:hover {
  font-size: 4rem;
}

.fa-twitter {
  color: #ef8172;
  margin-left: 40px;
  display: inline-block;
}

.fa-twitter:hover {
  font-size: 4rem;
}
