*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}

#title {
  background-color: #000 ;
  color: white;
}

.code-div {
  text-align: center;
}

.title-container {
  padding: 3% 15%;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 3.5em;
  line-height: 1.5;
}

.navbar {
  padding-bottom: 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-weight: lighter;
  font-size: 1.2rem;
}

.download-button {
  margin: 5% 0;
}

.code-icon {
  font-size: 20rem;
}

#profiles {
  padding: 3% 2%;
  background-color: #000;
}

.fa-brands {
  font-size: 50px;

}

.profile-box {
  box-shadow: 2px 2px 30px grey;
  text-align: center;
  padding: 5%;
  border-radius: 50px;
  background-color: #000;
  margin: 2rem;

}

.fa-user {
  color: lightgrey;
}

.fa-user:hover {
  color: #fff;
}

h2 {
  color: lightgrey;
  font-weight: 400;
  margin: 1.5rem 0 1.5rem 0;
}

h2:hover {
  color: #fff;
}

.profile-button {
  color: #fff;
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
  display: block;
  margin: 2rem auto ;
}

.profile-button:hover {
  background-color: #fff;
  color: #000;
}


.fa-instagram {
  color: lightgrey;
  display: inline-block;
}

.fa-instagram:hover {
  color: #fff;
}

.fa-twitter {
  color: lightgrey ;
  margin-left: 40px;
  display: inline-block;
}

.fa-twitter:hover {
  color: #fff;
}

@media (max-width: 900px) {
  #profiles {
    padding: 100px;
  }
}
